VALUABLE_REPO=zl007700/valuable_agent
VALUABLE_REPO_URL=git@github.com:zl007700/valuable_agent.git
BASE_BRANCH=main
RUN_ID=
ROUNDS=10
ANTHROPIC_AUTH_TOKEN=
ANTHROPIC_BASE_URL=
ANTHROPIC_MODEL=
SERPER_API_KEY=
GITHUB_TOKEN=
